

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#baw-widget {
	margin-top: 20px;
}
.nav-tabs {
	margin-bottom: 10px;
}
.campaign-schedule {
	position: absolute;
	top: 0;
	right: 10px;
}
.campaign-content .page-header {
	margin: 20px 0 10px 0;
	border-bottom: 0;
}
.results li:after {
	content: "";
	display: table;
	clear: both;
}
.results span {
	display: block;
	float: left;
}
.results-data {
	width: 30%;
}
.results-label {
	width: 70%;
}













