.table {
  thead {
    tr {
      background-color: $bhoo-light-gray;
      th {
        border-bottom: 2px solid darken($bhoo-light-gray, 5%);
      }
    }
  }
}


// Utilities
.no-space-after {
  margin-bottom: 0 !important;
}
