$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// Balihoo Bootstrap Custom Theme, Variable Overrides.
@import "variables";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// Balihoo Bootstrap Custom Theme, Custom Styles
@import "custom";


/*******************
 *
 *  Author Styles for Location Plugin
 *
 *******************/

.ls-chart:focus {
  outline: 0;
}

.animate-repeat-campaigns {
  //list-style:none;
  -webkit-transition: 0.4s ease-in-out all;
  transition: 0.4s ease-in-out all;
}

.animate-repeat-campaigns.ng-move,
.animate-repeat-campaigns.ng-enter,
.animate-repeat-campaigns.ng-leave {
  -webkit-transition:all ease-in-out 0.4s;
  transition:all ease-in-out 0.4s;
}

.animate-repeat-campaigns.ng-leave.ng-leave-active,
.animate-repeat-campaigns.ng-move,
.animate-repeat-campaigns.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat-campaigns.ng-leave,
.animate-repeat-campaigns.ng-move.ng-move-active,
.animate-repeat-campaigns.ng-enter.ng-enter-active {
  opacity:0;
  max-height: 0;
}

.animate-repeat-tactics {
  //list-style:none;
  -webkit-transition: 0.7s ease-in-out all;
  transition: 0.7s ease-in-out all;
}

.animate-repeat-tactics.ng-move,
.animate-repeat-tactics.ng-enter,
.animate-repeat-tactics.ng-leave {
  -webkit-transition:all ease-in-out 0.7s;
  transition:all ease-in-out 0.7s;
}

.animate-repeat-tactics.ng-leave.ng-leave-active,
.animate-repeat-tactics.ng-move,
.animate-repeat-tactics.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat-tactics.ng-leave,
.animate-repeat-tactics.ng-move.ng-move-active,
.animate-repeat-tactics.ng-enter.ng-enter-active {
  opacity:0;
  max-height: 0;
}

.col-localwebsite {
  padding-top: 80px;
}
.col-campaigns {
  padding-top: 80px;
}

.campaign-nav {
  .list-group-item-text {
    font-size: 12px;
  }
}

.ls-chart {
  width: 250px;
  margin: 0 auto;
}

// Chart Styles
.c3-tooltip {
  width: 150px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  .h100 {
    height: 100%;
  }

  .col-campaigns, .col-tactics {
    height: 100%;
    padding-top: 80px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
  }

  .col-login input {
    display: block;
//    font-size:12px;
//    padding:4px 2px;
//    border:solid 1px #aacfe4;
//    width:70px;
//    margin:2px 0 20px 10px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {}

/*Campaign Tab*/

// .campaign-thumbnail {
//   vertical-align: middle;
// }
// .campaign-content .page-header {
//   margin: 20px 0 10px 0;
//   border-bottom: 0;
// }
// .results li:after {
//   content: "";
//   display: table;
//   clear: both;
// }
// .results span {
//   display: block;
//   float: left;
// }
// .results-data {
//   width: 30%;
// }
// .results-label {
//   width: 70%;
// }
