<!doctype html>
<html class="no-js h100">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body class="h100" ng-app="locationPluginApp" ng-controller="ApplicationController">
<!-- Add your site or application content here -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="primary-navigation">
        <ul class="nav navbar-nav">
          <li ng-repeat="item in menu" ng-class="{active: item.route == menuActive}"><a ng-href="#{{item.route}}">{{item.label}}</a></li>
        </ul>
      <div class= "pull-right" ng-if="debug && currentUser">ClientID: {{currentUser.clientId}}</div><br>
      <div class= "pull-right" ng-if="debug && currentUser">ClientApiKey: {{currentUser.clientApiKey}}</div>
      </div>
    </div>
</nav>

<div class="container h100">

  <div class="h100" ng-view=""></div>

</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/libraries/localDataAPI.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/campaigns.js"></script>
<script src="scripts/controllers/localWebsite.js"></script>
<!-- endbuild -->

<modal id="loginModal" title="Login" data-backdrop="static" visible="showLoginModal">
    <form id="loginForm" role="form" ng-controller="LoginController" ng-submit="login(credentials)">
        <div class="form-group">
            <label for="locationId">Location ID</label>
            <input type="text" class="form-control" id="locationId" ng-model="credentials.locationId" />
        </div>
        <div class="form-group">
            <label for="userId">User</label>
            <input type="text" class="form-control" id="userId" ng-model="credentials.userId" />
        </div>
        <div class="form-group">
            <label for="groupId">Group</label>
            <input type="text" class="form-control" id="groupId" ng-model="credentials.groupId"/>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</modal>

</div>
</body>
</html>
