<div class="container pull-left">
    <div class="col-localwebsite">

      <div class="row">
        <!-- Visits -->
        <div class="col-sm-6 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <h4 class="pull-left">Visits</h4>
              <div id="visits-toggle" class="btn-group pull-right" role="group" aria-label="...">
                <button id="visits-pie" type="button" class="btn btn-default active" data-target="visitsChart" data-chart-type="donut" >Donut Chart</button>
                <button id="visits-bar" type="button" class="btn btn-default" data-target="visitsChart" data-chart-type="bar" >Bar Graph</button>
              </div>
            </div>
            <div class="panel-body">
              <div id="visits-chart" class="ls-chart"></div>
            </div>
            <div class="table-responsive">
              <table class="table table-hover table-condensed">
                <thead>
                  <tr>
                    <th>Metric</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-success">Organic</td>
                    <td>{{websiteMetrics.visits.organic}}</td>
                  </tr>
                  <tr>
                    <td class="text-warning">Direct</td>
                    <td>{{websiteMetrics.visits.direct}}</td>
                  </tr>
                  <tr>
                    <td class="text-danger">Referral</td>
                    <td>{{websiteMetrics.visits.referral}}</td>
                  </tr>
                  <tr>
                    <td>Total</td>
                    <td>{{websiteMetrics.visits.total}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Leads -->
        <div class="col-sm-6 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <h4 class="pull-left">Leads</h4>
              <div id="leads-toggle" class="btn-group pull-right" role="group" aria-label="...">
                <button id="leads-pie" type="button" class="btn btn-default active" data-target="leadsChart" data-chart-type="donut" >Donut Chart</button>
                <button id="leads-bar" type="button" class="btn btn-default" data-target="leadsChart" data-chart-type="bar" >Bar Graph</button>
              </div>
            </div>
            <div class="panel-body">
              <div id="leads-chart" class="ls-chart"></div>
            </div>
            <div class="table-responsive">
              <table class="table table-hover table-condensed">
                <thead>
                  <tr>
                    <th>Metric</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-success">Web</td>
                    <td>{{websiteMetrics.leads.web}}</td>
                  </tr>
                  <tr>
                    <td class="text-warning">Phone</td>
                    <td>{{websiteMetrics.leads.phone}}</td>
                  </tr>
                  <tr>
                    <td>Total</td>
                    <td>{{websiteMetrics.leads.total}}</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
</div>

<script type="text/javascript">

  // Visits Chart
  var visitsChart = c3.generate({
    bindto: '#visits-chart',
    size: {
      width: 250
    },
    data: {
      columns: [
      ],
      colors: {
        Organic: '#78a09e',
        Direct: '#efc75e',
        Referral: '#e2574c'
      },
      type : 'donut'
    },
    axis: {
      x: {
        type: 'category',
        categories: ['Visits'],
        show: false
      }
    },
    donut: {
      title: "Visits"
    }
  });

  $('#visits-pie').click(function(e) {
    swapChart(e, $(this));
  });

  $('#visits-bar').click(function(e) {
    swapChart(e, $(this));
  });

  // Leads Chart
  var leadsChart = c3.generate({
    bindto: '#leads-chart',
    size: {
      width: 250
    },
    data: {
      columns: [
      ],
      colors: {
        Web: '#78a09e',
        Phone: '#efc75e'
      },
      type : 'donut'
    },
    axis: {
      x: {
        type: 'category',
        categories: ['Leads'],
        show: false
      }
    },
    donut: {
      title: "Leads"
    }
  });

  $('#leads-pie').click(function(e) {
    swapChart(e, $(this));
  });

  $('#leads-bar').click(function(e) {
    swapChart(e, $(this));
  });


  // Exectute c3 transform methed.
  // Requires a click event and dom object with target data and chartType data.
  function swapChart(e, b) {
    e.preventDefault();
    if (!$(b).hasClass('active')) {
      window[b.data('target')].transform(b.data('chartType'));
      $(b.parent().children('button')).removeClass('active');
      $(b).addClass('active');
    }
  }

</script>

<modal id="localWebsiteModal" title="Local Website Metrics Error" type="alert alert-danger" visible="showLocalWebsiteModal">
    <p>No local websie metrics data was found for this location. Please make sure you have entered a correct 'Location ID' at login.</p>
    <p>For further assistance please contact Balihoo support: <a href="mailto:support@balihoo.com">support@balihoo.com</a></p>
</modal>
