<div class="container pull-left">
    <div class="col-localwebsite">

      <div class="row">
        <!-- Visits -->
        <div class="col-md-6 col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Visits</h3></div>
            <div class="panel-body">
              <div id="visits-chart" class="ls-chart"></div>
            </div>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Metric</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Organic</td>
                    <td>{{websiteMetrics.visits.organic}}</td>
                  </tr>
                  <tr>
                    <td>Direct</td>
                    <td>{{websiteMetrics.visits.direct}}</td>
                  </tr>
                  <tr>
                    <td>Referral</td>
                    <td>{{websiteMetrics.visits.referral}}</td>
                  </tr>
                  <tr>
                    <td>Total</td>
                    <td>{{websiteMetrics.visits.total}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Leads -->
        <div class="col-md-6 col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Leads</h3></div>
            <div class="panel-body">
              <div id="leads-chart" class="ls-chart"></div>
            </div>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Metric</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Web</td>
                    <td>{{websiteMetrics.leads.web}}</td>
                  </tr>
                  <tr>
                    <td>Phone</td>
                    <td>{{websiteMetrics.leads.phone}}</td>
                  </tr>
                  <tr>
                    <td>Total</td>
                    <td>{{websiteMetrics.leads.total}}</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
</div>

<script type="text/javascript">

  var organicVisits = parseInt('{{websiteMetrics.visits.organic}}', 10),
  directVisits = parseInt('{{websiteMetrics.visits.direct}}', 10),
  referralVisits = parseInt('{{websiteMetrics.visits.referral}}', 10),
  webLeads = parseInt('{{websiteMetrics.leads.web}}', 10),
  phoneLeads = parseInt('{{websiteMetrics.leads.phone}}', 10);

  // Visits Chart
  var chart = c3.generate({
    bindto: '#visits-chart',
    size: {
      width: 250
    },
    data: {
      columns: [
        ['Organic', organicVisits],
        ['Direct', directVisits],
        ['Referral', referralVisits]
      ],
      colors: {
        Organic: '#78a09e',
        Direct: '#efc75e',
        Referral: '#e2574c'
      },
      type : 'donut'
    },
    donut: {
      title: "Visits"
    }
  });

  // Leads Chart
  var chart = c3.generate({
    bindto: '#leads-chart',
    size: {
      width: 250
    },
    data: {
      columns: [
        ['Web', webLeads],
        ['Phone', phoneLeads]
      ],
      colors: {
        Web: '#78a09e',
        Phone: '#efc75e'
      },
      type : 'donut'
    },
    donut: {
      title: "Leads"
    }
  });

</script>

<modal id="localWebsiteModal" title="Local Website Metrics Error" type="alert alert-danger" visible="showLocalWebsiteModal">
    <p>No local websie metrics data was found for this location. Please make sure you have entered a correct 'Location ID' at login.</p>
    <p>For further assistance please contact Balihoo support: <a href="mailto:support@balihoo.com">support@balihoo.com</a></p>
</modal>
