<div class="container pull-left">
    <div class="col-localwebsite">
        <p>Local website metrics will go here.</p>
    </div>    
</div>

<modal id="localWebsiteModal" title="Local Website Metrics Error" type="alert alert-danger" visible="showLocalWebsiteModal">
    <p>No local websie metrics data was found for this location. Please make sure you have entered a correct 'Location ID' at login.</p>
    <p>For further assistance please contact Balihoo support: <a href="mailto:support@balihoo.com">support@balihoo.com</a></p>
</modal>