<script>
  if (typeof Function.prototype.bind === "undefined") { Function.prototype.bind = function() { var fn = this, args = [].slice.call( arguments ), object = args.shift(); return function() { return fn.apply( object, args.concat( [].slice.call(arguments) ) ); }; }; } if (typeof RegExp.prototype.test.bind === "undefined") { RegExp.prototype.test.bind = Function.prototype.bind; }
</script>
<link rel="stylesheet" type="text/css" href="../styles/FormRender.css">
<script src="scripts/libraries/FormRender.js"></script>

<div class="container pull-left">
    <div class="col-profile">
      <div class="row">
        <div class="col-sm-12 col-campaigns">
          <div id="formPanel" class="panel panel-default hidden">
            <div class="panel-body">
              <div id="formTarget"></div><br>
              <button id="saveProfileButton" class="btn btn-primary hidden">Save Profile</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
